@font-face {
  font-family: ibm3270;
  src: url(../fonts/3270-Regular.ttf);
}

html {
  width: auto;
  height: auto;
}
h2 {
  text-align: center;
}
li {
  padding: 3px;
}
body {
  margin: 0 0;
  font: 20px ibm3270;
  color: aliceblue;
  width: auto;
  height: auto;
  background-image: url(../images/back3.png);
  display: flex;
  flex-direction: column;
}
form {
  padding: 30px;
  text-align: center;
  margin: auto;
  border: 1px solid white;
}
input:not([type~="submit"]) {
  outline: none;
  margin-left : 10px;
  color: white;
  border: none;
  border-bottom: 1px solid white; 
  background-color: transparent;
}
input[type="submit"] {
  width: 7em;
  height: 2em;
  color: white;
  border-color: darkgreen;
  font: 20px bold sans-serif;
  background-color: darkgreen;
}
input::placeholder {
  color: darkgray;
}
select {
  outline: none;
  padding: 5px;
  overflow-y: auto;
  background-color: #A0A5A0;
  max-width: 100%;
}
textarea {
  padding: 5px;
  outline: none;
  background-color: #A0A5A0;
  width: 90%;
  max-width: 100%;
  height: 5em;
}
footer {
  margin-top: 50px;
  background-color: rgba(29, 29, 29, 0.842);
  height: 100px;
  color: grey;
  display: flex;
}
#linkImg {
  width: 50%;
}
#footerLink {
  text-decoration: none;
  color: dimgrey;
  text-align: center;
}
#footerDiv{
  margin: auto;
}
@media only screen and (max-width: 500px) {
  #linkImg {
    width: 100%;
  }
}