@font-face {
  font-family: ibm3270;
  src: url(../fonts/3270-Regular.ttf);
}
html {
  width: auto;
  height: auto;
}
*::selection{
  background-color: rgb(78, 118, 250);
}
h2 {
  text-align: center;
}
body {
  margin: 0 0;
  font: 20px ibm3270;
  color: aliceblue;
  width: auto;
  height: auto;
  background-image: url(../images/background.png);
  display: flex;
  flex-direction: column;
}


input::placeholder {
  color: darkgray;
}
input{
  border: none!important;
  box-shadow: none!important;
}

footer, header {
  background-color: rgba(29, 29, 29, 0.842);
  height: 150px;
  color: grey;
  display: flex;
  filter: drop-shadow(0px 30px 40px rgb(0, 0, 0));
}

#footerLink {
  text-decoration: none;
  color: dimgrey;
  text-align: center;
}

#logoImg{
  background-color: rgba(32, 32, 32, 0.842);
  border-radius: 50%;
}

.modal-content{
  background-color: rgba(29, 29, 29, 1);
}
.btn-close{
  background-color: red;
}
input:not([type="submit"]) {
  outline: none;
  border: none !important;
  padding-left: 5px;
}
input[type="submit"] {
  font-size: 1em;
}
textarea {
  padding: 5px;
  box-shadow: none!important;
  border: none !important;
  background-color: #A0A5A0;
  height: 7em;
}